/* ---------- GENERAL ---------- */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{

    background:#F8F5EF;
    font-family:'Inter',sans-serif;
    color:#2D2D2D;

    display:flex;
    justify-content:center;
    align-items:flex-start;

    min-height:100vh;

    overflow-y:auto;


}

/* ---------- CONTAINER ---------- */

.container{

    width:90%;
    max-width:700px;

    text-align:center;

    padding:100px 20px 80px;

    animation:fadeIn 1.2s ease;


}

/* ---------- VOLUME ---------- */

.volume{

    text-transform:uppercase;

    letter-spacing:5px;

    color:#999;

    font-size:14px;

    margin-bottom:18px;

    opacity:0;

    animation:fadeUp 1s forwards;

}

/* ---------- TITLE ---------- */

h1{

    font-family:'Cormorant Garamond',serif;

    font-size:88px;

    font-weight:700;

    letter-spacing:2px;

    color:#222;

    margin-bottom:12px;

    opacity:0;

    animation:fadeUp 1s forwards;

    animation-delay:.3s;

}

/* ---------- SUBTITLE ---------- */

.subtitle{

    font-style:italic;

    color:#A88B5A;

    font-size:18px;

    margin-bottom:30px;

    opacity:0;

    animation:fadeUp 1s forwards;

    animation-delay:.6s;

}

/* ---------- MESSAGE ---------- */

.message{

    font-size:22px;

    line-height:1.4;

    color:#444;

    opacity:0;

    animation:fadeUp 1s forwards;

    animation-delay:.9s;

}

/* ---------- BUTTON ---------- */

button{

    margin-top:45px;

    padding:16px 42px;

    border:none;

    border-radius:50px;

    background:#222;

    color:white;

    font-size:17px;

    font-family:'Inter',sans-serif;

    cursor:pointer;

    transition:.35s;

    box-shadow:0 10px 25px rgba(0,0,0,.12);

    opacity:1;

    animation:fadeUp 1s forwards;

    animation-delay:1.2s;

}

button:hover{

    transform:translateY(-3px);

    box-shadow:0 15px 35px rgba(0,0,0,.18);

    background: #3b3b3b;;

}

/* ---------- ANIMATIONS ---------- */

@keyframes fadeUp{

    from{

        opacity:0;

        transform:translateY(35px);

    }

    to{

        opacity:1;

        transform:translateY(0);

    }

}

@keyframes fadeIn{

    from{

        opacity:0;

    }

    to{

        opacity:1;

    }

}

/* ---------- MOBILE ---------- */

@media(max-width:768px){

h1{

font-size:52px;

}

.message{

font-size:18px;

}

.subtitle{

font-size:16px;

}

button{

padding:14px 34px;

}

}

.line{
    width: 100px;
    height: 1px;
    background: #c8b78f;
    margin: 18px auto;
}

.date{
    font-size: 14px;
    color: #999;
    letter-spacing: 3px;
    margin-top: 10px;
    margin-bottom: 25px;
}

body{

    transition: opacity .8s ease;

}

body.fade-out{

    opacity:0;

}